
<div class="conter-wrapper home-container">
  {{ test }}
  <div class="row home-row">
    <div class="col-md-6">
      <div class="panel panel-primary" ng-repeat="c in communities">
	<div class="panel-heading">
	  <h3 class="panel-title">{{ c.name }}
	    <div class="panel-control pull-right">
	      <a class="panelButton"><i class="fa fa-refresh"></i></a>
	      <a class="panelButton"><i class="fa fa-minus"></i></a>
	      <a class="panelButton"><i class="fa fa-remove"></i></a>
	    </div>
	  </h3>
	</div>
	<div class="panel-body">
	  {{ c.desc }}
	  <div class="panel-btn">
	    <button type="button" class="btn btn-primary pull-right btn-rounded" ng-click="setActive(c.id)">
	      More info</button> 
	  </div>
	</div>
      </div>

      <div class="panel panel-primary">
	<div class="panel-body">
	  <button type="button" class="btn btn-primary btn-rounded">Make your own community</button>
	</div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3 class="panel-title">{{ community.name }}</h3>
	</div>
	<div class="panel-body">
	  {{ community.desc }}
	  <br />
	  <br />
	  <h4>Gallery:</h4>
	  <img width="400" src="{{community.image}}" />
	  <br />
	  <br />
	  
	  <h4>Details:</h4>
	  <table class="table">
	      <tr>
		<td>Total Funds</td>
		<td>{{ community.total }}</td>
	      </tr>
	      <tr>
		<td>Your Contribution</td>
		<td>0 USD</td>
	      </tr>
	      <tr>
		<td>Total Members</td>
		<td>{{ community.members }}</td>
	      </tr>
	  </table>
	  
	  <h4>Projects</h4>

	  
	</div>
      </div>
    </div>
    
  </div>
  </div>
</div>
