
<div class="conter-wrapper home-container">
  {{ test }}
  <div class="row home-row">
    <div class="col-md-6">
      <div class="panel panel-primary" ng-repeat="c in communities">
	<div class="panel-heading">
	  <h3 class="panel-title">{{ c.name }}
	    <div class="panel-control pull-right">
	      <a class="panelButton"><i class="fa fa-refresh"></i></a>
	      <a class="panelButton"><i class="fa fa-minus"></i></a>
	      <a class="panelButton"><i class="fa fa-remove"></i></a>
	    </div>
	  </h3>
	</div>
	<div class="panel-body">
	  {{ c.desc }}
	  <div class="panel-btn">
	    <button type="button" class="btn btn-primary pull-right btn-rounded">
	      More info</button> 
	  </div>
	</div>
      </div>

      <div class="panel panel-primary">
	<div class="panel-body">
	  <button type="button" class="btn btn-primary btn-rounded">Make your own community</button>
	</div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3 class="panel-title">Education in Africa</h3>
	</div>
	<div class="panel-body">
	  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br />
	  <br />
	  <h4>Gallery:</h4>
	  <img width="400" src="https://s-media-cache-ak0.pinimg.com/originals/00/f6/b7/00f6b7e6d734647c56904f77bda0992a.jpg" />	  <br />
	  <br />
	  
	  <h4>Details:</h4>
	  <table class="table">
	      <tr>
		<td>Total Funds</td>
		<td>100,000 USD</td>
	      </tr>
	      <tr>
		<td>Your Contribution</td>
		<td>0 USD</td>
	      </tr>
	      <tr>
		<td>Total Members</td>
		<td>153</td>
	      </tr>
	  </table>
	  <br />
	  
	  <h4>Projects</h4>

	</div>
      </div>
    </div>
    
  </div>
  </div>
</div>
