<h1>{{community_name}}</h1>
<p><button ng-click='todo()'>Donate</button></p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Proposals</h4>
                    <button ng-click='createProposal()'>Create new Proposal</button>
                    <!--<input type="submit" class="btn btn-primary addnew" value="Create New Proposal">-->
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Time left</th>
                                <th>raised/goal</th>
                                <th>voting status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in proposals">
                                <td><a href="#!/communities/{{id}}/{{p.id}}">{{p.name}}</a></td>
                                <td>{{p.time}}</td>
                                <td>{{p.raised}}/{{p.goal}}</td>
                                <td>{{p.voting_status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="float:right; margin-right:20px">
            <img src="{{icon}}">
        </div>
    </div>
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Top Contributors</h4>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Donation Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in contributors">
                                <td>{{c.name}}</td>
                                <td>{{c.amount}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="float:right; margin-right:20px">
            <h4>Total donations</h4>
            <p>{{total_contribution}}</p>
            <h4>amount of members</h4>
            <p>{{member_amount}}</p>
        </div>
        </style>
    </div>
</div>
</div>